@import url('https://fonts.googleapis.com/css?family=Chivo|Open+Sans');

body{
	font-family: "Open Sans", Arial, sans-serif;
}

.navbar-brand{
	font-family: "Chivo", Arial, sans-serif;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
}

.container{
	margin-top: 2em;
}

.spaced-container > *, .spaced-container > form > *{
	margin: 1em 0;
}

button{
	cursor: pointer;
}

.grid-container{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 2fr 3fr;
	grid-gap: 1em 3em;
}

.links-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: fit-content;
}

.links-container > *{
	margin: 0 .7em 1.4em .7em;
	padding: 1em .75em;
}


.pwd-container{
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-columns: 1fr 2fr 1fr;
	grid-row-gap: 1em;
}
#pwd-text{
	grid-column: 2 / 3;
}
#pwd-text > *{
	text-align: justify;
}
#pwd-comic{
	grid-column: 1 / 4;
	text-align: center;
}
#pwd-logo{
	grid-column: 2 / 3;
	text-align: center;
}
#pwd-comic img, #pwd-logo img{
	display: inline-block;
	max-width: 100%;
}

.grid-container .higher, .grid-container-pwd .higher{
	grid-row: span 2;
}

.image{
	display: flex;
	justify-content: center;
	align-items: center;
}

.image img{
	max-width: 100%;
}

@media only screen and (max-width: 820px) {
	.grid-container{
		display: block;
	}

	.grid-container > *{
		margin: 2em 0;
	}

	#pwd-text{
		grid-column: 1 / 4;
	}

	.my-table{
		display: block;
		overflow-x: auto;
	}

	.row > div > *, .row > div > div > *{
		margin-bottom: 1em;
	}
}

.bordered{
	border: 1px solid #e1e1e1;
	padding: 1em;
}

.bordered h5{
	margin-bottom: 1em;
}

.my-group{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.my-group-list{
	align-items: flex-start;
}

.my-group-list ul{
	padding-left: 18px; 
}

.my-group .title{
	min-width: 130px;
	font-weight: bold;
}

.my-group p{
	margin-bottom: .3em;
}

legend{
	font-size: 1em;
	font-weight: bold;
}

.my-table{
	table-layout: fixed;
}

.my-table td{
	overflow: hidden;
}

.my-table th.th5p
{
	width: 5%;
}
.my-table th.th10p
{
	width: 10%;
}
.my-table th.th15p
{
	width: 15%;
}
.my-table th.th20p
{
	width: 20%;
}
.my-table th.th25p
{
	width: 25%;
}
.my-table th.th30p
{
	width: 30%;
}
.my-table th.th35p
{
	width: 35%;
}

tr.historical{
	color: gray;
}

textarea{
	font-family: "Courier New", Courier, monospace;
}

@supports not (display:  grid){
	.grid-container{
		display: block;
	}

	.grid-container > *{
		margin: 2em 0;
	}
}