@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Franklin';
    src: url('../fonts/FranklinGothic-MedCnd.woff2') format('woff2'),
        url('../fonts/FranklinGothic-MedCnd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
	font-family: "Open Sans", Arial, sans-serif;
}

.container{
	padding: 0;
}

.bg-brand-light{
	background-color: #d6e3df;
}

.navbar{
	border-top: 3px solid #004c35;
}

.color-brand, .navbar-dark .navbar-nav .nav-link{
	color: #004c35 !important;
}

.border-brand{
	border-color: #004c35;
}

.btn-brand{
	border-color: #004c35;
	color: #004c35;
	overflow: hidden;
}

.btn-brand:hover{
	background-color: #004c35;
	color: white;
}

.btn-brand i.fa{
	position: absolute;
	right: 10px;
    transition: none;
    background-color: #004c35;
    top: calc(50% - 8px);
    opacity: 0;
}

.btn-brand:hover i.fa{
	opacity: 1;
	transition: all .10s ease-in-out;
	transition-delay: .05s;
}

.navbar-brand{
	font-family: "Franklin", Arial, sans-serif;
	font-weight: 500;
	font-size: 26px;
	padding: 0;
}

.container{
	margin-top: 2em;
}

.spaced-container > *, .spaced-container > form > *{
	margin-top: 1em;
	margin-bottom: 1em;
}

button{
	cursor: pointer;
}

.grid-container{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 5fr 4fr;
	grid-gap: 1em 2.5em;
}

.links-container a{
	position: relative;
}

.links-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: fit-content;
}

.links-container > *{
	margin-bottom: 1.4em;
	padding: 1em .75em;
}

.links-container > *:nth-child(3n+2){
	margin-left: .7em;
	margin-right: .7em;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ebf2f0;
}

.table-hover tbody tr:hover {
    background-color: #d6e3df;
}

.pwd-container{
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-columns: 1fr 2fr 1fr;
	grid-row-gap: 1em;
}
#pwd-text{
	grid-column: 2 / 3;
}
#pwd-text > *{
	text-align: justify;
}
#pwd-comic{
	grid-column: 1 / 4;
	text-align: center;
}
#pwd-logo{
	grid-column: 2 / 3;
	text-align: center;
}
#pwd-comic img, #pwd-logo img{
	display: inline-block;
	max-width: 100%;
}

.grid-container .higher, .grid-container-pwd .higher{
	grid-row: span 2;
}

.image{
	display: flex;
	justify-content: center;
	align-items: center;
}

.image img{
	max-width: 100%;
}

@media only screen and (max-width: 820px) {
	.grid-container{
		display: block;
	}

	.grid-container > *{
		margin: 2em 0;
	}

	#pwd-text{
		grid-column: 1 / 4;
	}

	.my-table{
		display: block;
		overflow-x: auto;
	}

	.row > div > *, .row > div > div > *{
		margin-bottom: 1em;
	}
}

.bordered{
	border: 1px solid #e1e1e1;
	padding: 1em;
}

.bordered h5{
	margin-bottom: 1em;
}

.my-group{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.my-group-list{
	align-items: flex-start;
}

.my-group-list ul{
	padding-left: 18px; 
}

.my-group .title{
	min-width: 130px;
	font-weight: bold;
}

.my-group p{
	margin-bottom: .3em;
}

legend{
	font-size: 1em;
	font-weight: bold;
}

.my-table{
	table-layout: fixed;
}

.my-table td{
	overflow: hidden;
}

.my-table.table-nowrap td{
	white-space: nowrap;
}

.my-table th.th5p
{
	width: 5%;
}
.my-table th.th10p
{
	width: 10%;
}
.my-table th.th15p
{
	width: 15%;
}
.my-table th.th20p
{
	width: 20%;
}
.my-table th.th25p
{
	width: 25%;
}
.my-table th.th30p
{
	width: 30%;
}
.my-table th.th35p
{
	width: 35%;
}

tr.historical{
	color: gray;
}

textarea{
	font-family: "Courier New", Courier, monospace;
}

@supports not (display:  grid){
	.grid-container{
		display: block;
	}

	.grid-container > *{
		margin: 2em 0;
	}
}

@media print{
	.navbar{
		display: none;
	}

	.container{
		max-width: 100%;
		margin: 3em;
	}

	td{
		padding: 6px !important;
	}
}
