@import url('https://fonts.googleapis.com/css?family=Chivo|Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
}

.text-muted {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
}

img {
    max-width: 200px;
}

.container.login {
    flex-direction: row;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form>* {
    width: 400px;
    margin-bottom: 1rem;
}

.form>*:last-child {
    margin-bottom: 0;
}

.form>h1 {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.form-group {
    margin: 1rem 0;
}

.submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

label {
    cursor: pointer;
}

label span {
    font-size: .9rem;
}

.help-block {
    font-size: .9em;
    font-weight: bold;
    color: red;
}

.success-block {
    font-weight: bold;
    color: green;
}

.submit a {
    display: inline-block;
    font-size: .9rem;
    text-decoration: none;
}

footer {
    margin-top: auto;
    font-size: .9rem;
    color: #80a79b;
    text-align: center;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
    color: #d6e3df;
    background-color: #FFCC00;
}

.alert-primary a {
    color: #d6e3df;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger ul {
    padding-left: 18px;
}

@media only screen and (max-width: 768px) {

    html {
        font-size: 16px;
    }

    .container {
        justify-content: stretch;
    }

    .form {
        width: 100%;
        border: none;
    }
}

@media only screen and (max-width: 480px) {

    html {
        font-size: 14px;
    }

    .form>*,
    img {
        width: 90vw;
    }

}

@media only screen and (max-width: 340px) {

    .submit {
        flex-direction: column;
        align-items: flex-start;
    }

    .submit a {
        margin-left: 0;
        margin-top: .5rem;
    }

}
