name: Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      database-mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
          MYSQL_USER: tester
          MYSQL_PASSWORD: testerpass
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@2.30.0
        with:
          php-version: 8.2

      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Prepare Laravel Application
        run: |
          php artisan passport:keys

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Install NPM dependencies
        run: npm install

      - name: Compile assets
        run: npm run build

      - name: Run Test suites
        run: php artisan test --env=ci

      - name: Upload Laravel Logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: storage/logs

      # - name: Upload Browser Test Screenshots
      #   if: failure()
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: screenshots
      #     path: tests/Browser/screenshots

      # - name: Upload Browser Test Console Logs
      #   if: failure()
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: console
      #     path: tests/Browser/console
